<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
    <ul class="list-group panel">
        <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>SIDE PANEL</b></li>
        <li class="list-group-item"><input type="text" class="form-control search-query" placeholder="Search Something"></li>
        <li class="list-group-item"><a href="/Search"><i class="glyphicon glyphicon-home"></i>Search </a></li>
        <li class="list-group-item"><a href="/Amon"><i class="glyphicon glyphicon-certificate"></i>Active Monitoring </a></li>
        <li class="list-group-item"><a href="/Worker"><i class="glyphicon glyphicon-indent-left"></i>Workers </a></li>
        <li class="list-group-item"><a href="#"><i class="glyphicon glyphicon-th-list"></i>MongoMQ </a></li>
    </ul>
</div>